.cart-show {
    width: 80%;
    height: 25rem;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    background-color: whitesmoke;
    z-index: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    &.hide {
        display: none;
    }

    .button {
        margin-top: 1rem;
    }

    .cart-show-items{
        width: 100%;
        flex-grow: 1;
        overflow: auto;
        background-color: indianred;

        .cart-item{
            margin: 0.75rem 0;
        } 
    }

}