.shop-item{
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;

    .shop-item-image{
        width: 100%;
        flex-grow: 1;
        background-size: cover;
        background-position: center;
        margin-bottom: 0.25rem ;
    }

    .shop-item-detail{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }

    .button{
        position: absolute;
        bottom: 3rem;
        width: 80%;
        opacity: 0.7;

        visibility: hidden;

        button {
            width: 100%;
        }
    }

    &:hover {
        .button{
            visibility: visible;
        }
    }

}