.cart-icon-cover {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  svg {
    height: 100%;
    width: 100%;
    * {
      pointer-events: none;
    }
  }

  .icon-count {
    width: 1.5rem ;
    height: 1.5rem;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5rem;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(30%, 30%);
    color: black;
    font-weight: bold;
    border: 2px solid black;
  }
}
