*{
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white ;
    margin: 0;
}


p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.App{
    padding: 0 1rem ;
}